Repository MichaIng/DietPi-Website, pull requests merged in 2020-12, with the labels that each got.

#16 Switch links from https://dietpi.com/#features to new DietPi docs page
  index.html
Labels: index.html

#17 New links to docs instead phpBB
  dietpi-software.html
Labels: dietpi-software.html

#18 New links to docs instead to phpBB
  dietpi-software.html
Labels: dietpi-software.html, enhancement

#21 Include webserver links to documentation
  dietpi-software.html
Labels: dietpi-software.html

#22 Add banner version 6.34
  index.html
Labels: index.html

#24 Change package name to "Single File PHP Gallery"
  dietpi-software.html
Labels: correction, dietpi-software.html
